body {
  margin: 0;
  text-align: center;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin: 0;
}
.title {
  background-color: #162447;
  margin: 0;
  padding: 50px 0;
}
.mainsection {
  background-color: #e43f5a;
  width: 100%;
}
.penis2 {
  width: 100px;
  height: 100%;
}
